.reveal {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    background-image: url("images/LSST2016-169_02.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
									 
